*{
    box-sizing: border-box;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}

body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.color-acento{ color: rgb(39, 219, 180); }

ul{ list-style: none;}

ul.contacto li{
display: inline;
}

button{
    border-top-style: groove;
    background-color: rgb(39, 219, 180);
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: rgb(3, 3, 3);
    
}

button:hover{
    background-color: rgb(241, 6, 6);
    color: black;
    
}
.container{
    max-width: 1400px;
    margin: auto;
}
header{
    background-color: rgb(245, 245, 245);
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(39, 219, 180);
    font-size: 1.8em;
    
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(39, 219, 180);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: rgb(242, 243, 245);
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)
    )
     ,url(media/hero.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#Perfil-Profesional{
    text-align: center;
    padding: 200px 12px;
    color: black;
    background-color: rgb(254, 255, 255);
}

#Experiencia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.9)
    ),url(media/bd.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}
#Experiencia .container{
    text-align: center;
}

#Experiencia p{
    display: flex;
}

#software {
    text-align: center;
    padding: 200px 12px;
    color: black;
    background-color: rgb(255,255,255);
    font-weight: bold;
    font-size: 1,8em;
    display: flex;
    flex-direction: column;
}

#habilidades {
    padding: 200px 12px;
    color: rgb(254, 255, 255);
    font-weight: bold;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.9),
        rgb(0,0,0,1)
    ),url(media/skill.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#lista-contacto ul{
    display: flex;
    padding: 10px 10px;
    margin: 0 auto;
}


#contacto .container{
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 20vh;
}


footer {
    display: flex;
    align-items: center;
}