:root{
    --verdeagua: rgb(39,219,180);
    --azulfondo: rgb(2,55,71);
    --azulhover: rgb(44, 134, 156);
}

*{
    box-sizing: border-box;
    margin: 2px;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}

body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.color-acento{ color: var(--verdeagua); }

ul{ list-style: none;}

ul.contacto li{
display: inline;
}

button{
    border-top-style: groove;
    background-color: var(--verdeagua);
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: rgb(3, 3, 3);
    
}

button:hover{
    background-color: var(--azulhover);
    color: rgb(0, 0, 0);
    
}
.container{
    max-width: 1400px;
    margin: auto;
}
header{
    background-color: var(--azulfondo);
    border-radius: 5px;
    background-image: linear-gradient(0deg) ,url(media/hero.jpg); 
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1.8em; 
    text-decoration-style: dotted;
    text-shadow: 0.25em 0.1em 0.25em rgb(0, 0, 0);
    
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: rgba(4, 220, 248, 0.726);*/
    border-radius: 5px;
    text-decoration-style: dotted;
    text-shadow: 0.25em 0.1em 0.25em rgb(0, 0, 0);
    
}

header p{
    border-radius: 1px;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

header a:hover{
    color: var(--azulhover);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 120vh;
    color: rgb(242, 243, 245);
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)
    )
     ,url(media/hero.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;

}

#hero .container{
    justify-content: center;
}

.foto-perfil{
    margin-top: 4rem;
    width: 35vh;
    height: 40vh;
    border: 5px solid var(--verdeagua);
    border-radius: 50%;

}

#Perfil-Profesional{
    text-align: center;
    padding: 200px 12px;
    color: black;
    background-color: var(--azulfondo);
    border-radius: 8px;
    text-decoration-style: dotted;
    text-shadow: 0.25em 0.1em 0.25em rgb(0, 0, 0);
}
#Perfil-Profesional h2{
    color: rgb(255, 255, 255);
}

#Perfil-Profesional p{
    color: rgb(255, 255, 255);
    text-decoration-style: dotted;
    text-shadow: 0.25em 0.1em 0.25em rgb(0, 0, 0);
}
#Experiencia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.9)
    ),url(media/bd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}
#Experiencia .container{
    text-align: center;
}

#Experiencia p{
    display: flex;
}

#software {
    text-align: center;
    padding: 200px 12px;
    color: rgb(255, 255, 255);
    background-color: var(--azulfondo);
    font-weight: bold;
    height: 65vh;
    font-size: 1,8em;
    display: flex;
    flex-direction: column;
    text-decoration-style: dotted;
    text-shadow: 0.25em 0.1em 0.25em rgb(0, 0, 0);
    border-radius: 8px;
}

#habilidades {
    padding: 200px 12px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.9),
        rgb(0,0,0,5)
    ),url(media/skill.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    
}

#lista-contacto ul{
    display: flex;
    padding: 10px 10px;
    margin: 0 auto;
}


#contacto .container{
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 22vh;
    color: aliceblue;
    text-decoration-style: dotted;
    text-shadow: 0.5em 0.1em 0.97em rgb(255, 255, 255);
}


footer {
    display: flex;
    align-items: center;
}

footer p{
    text-align: center;
    color: rgb(255, 255, 255);
}